  body {
    height: -webkit-fill-available;
    width: max-content;
    height: auto;
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    color: Blue;
  }
  
  label {
    text-align: center;
    padding: 5px 10px 0 0;
  }
  
  form div {
    overflow: hidden;
    margin: 0 0 5px 0;
  }
  
  table{
    border-spacing: 0px;
  }
  
  .msg-error {
    color: red;
  }
  .g-recaptcha.error {
    border: solid 2px red;
  } 