<body class="align-items-center">
<div style="box-sizing: border-box; border: 2px solid gray; margin-left: 300px ; margin-top: 20px;">
<br /><br />
      <h1 class="align-items-center text-center">Registration</h1>
    
    <br /><br /><br/>
    
      <div class="container align-items-center" text-align="center">
        <div class="row">
          <div class="offset-3"></div>
          <div class="col-md-12">
            <form
              name="form"
              #f="ngForm"
              (ngSubmit)="
                  passwordValidation &&
                  f.form.valid &&
                  registerUser()
              "
              novalidate
              class="feedback-form"
            >
              <!-- UserName -->
              <table class="align-items-center" text-align="center">
                <div class="form-group">
                  <tr>
                    <td>
                      <label for="username">Username</label>
                    </td>
                    <td>
                      <input
                      width="100%"
                        type="text"
                        id="username"
                        class="form-control"
                        name="username"
                        placeholder="Enter username"
                        [(ngModel)]="model.username"
                        #username="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && username.invalid
                        }"
                        required="required"
                      />
                    </td>
                  </tr>
                </div>
                <br/>
                <!-- Password -->
                <div class="form-group">
                  <tr>
                    <td><label for="password">Password</label></td>
                    <td>
                      <input
                      width="100%"
                        type="password"
                        id="password"
                        class="form-control"
                        name="password"
                        placeholder="Enter password"
                        [(ngModel)]="model.password"
                        #password="ngModel"
                       
                        [ngClass]="{
                          'is-invalid': f.submitted && password.invalid
                        }"
                        required="required"
                      />
                    </td>
                  </tr>
                </div>
                <br/>
                <div class="form-group">
                  <tr>
                    <td>
                      <label>User Type</label>
                    </td>
                    <td>
                      <select
                        class="form-control"
                        [(ngModel)]="options"
                        name="options"
                        id="options"
                      >
                        <option>User</option>
                        <option>Admin</option>
                      </select>
                    </td>
                  </tr>
                </div>
              </table>
              <br />
              <table class="align-items-center" style="padding-right: 10%">
                <tr>
                  <td>
                    <button type="submit" class="btn btn-success">Register</button> &nbsp; &nbsp;
                  </td>
                  <br> <br> <br> <br>
                </tr>
              </table>
            </form>
          </div>
          <br><br><br> <br>
          <div class="offset-3"></div>
        </div>
      </div>
    </div>
</body>
