<html>
  <head></head>

  <body class="align-items-center">
    <div style="box-sizing: border-box ; border: 2px solid gray; margin-top: 20px;">
      <br />
      <H1 class="text-center" style="color: Blue">Login Page</H1>
      <br /><br />
      <div text-align="center" style="color: #f44336">{{ message }}</div>
      <div class="container" text-align="center">
        <div class="row">
          <div class="offset-3"></div>
          <div class="col-md-12">
            <form
              name="form"
              #f="ngForm"
              (ngSubmit)="f.form.valid && sendFeedback()"
              novalidate
              class="feedback-form"
            >
              <!-- Name -->
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  id="username"
                  class="form-control"
                  name="username"
                  placeholder="username"
                  [(ngModel)]="model.username"
                  #username="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
                  required
                />

                <div
                  *ngIf="f.submitted && username.invalid"
                  class="invalid-input"
                >

                <div *ngIf="username.errors?.required">username cannot be empty</div>
                </div>
              </div>
              <!-- password -->
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  name="password"
                  placeholder="password"
                  [(ngModel)]="model.password"
                  #password="ngModel"
                  [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                  required="required"
                />

                <div
                  *ngIf="f.submitted && password.invalid"
                  class="invalid-input"
                >

                <div *ngIf="password.errors?.required">password cannot be empty</div>
                </div>
              </div>

              <button type="submit" class="btn btn-success">
                <span> Login</span>
              </button> <br> <br>
              <div><p>Don't have an account?</p>
               <button class="btn btn-primary" routerLink="/register">
                 <span>Register</span>
               </button>
             </div>
              <br /><br />
            </form>
          </div>
          <div class="offset-3"></div>
        </div>
      </div>
    </div>
  </body>
</html>