<header>
  <div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div><a class="btn btn-lg btn-dark" routerLink="/">OnlineBookStore</a></div>
      <div><a class="btn btn-lg btn-dark" role="button" routerLink="/shop">Shop</a></div>&nbsp;

      <div class="dropdown">
        <a class="btn btn-lg btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
          data-bs-toggle="dropdown" aria-expanded="false">
          Admin
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" routerLink="/admin/books">Books</a></li>
        </ul>
      </div>
      &nbsp;
      <div><a routerLink="/cart" role="button" class="btn btn-lg btn-dark">Cart </a></div> &nbsp;
     
      <div><a class="btn btn-lg btn-dark" role="button" routerLink="/register">Register</a></div>&nbsp;
      <div><a class="btn btn-lg btn-dark" role="button" routerLink="/login">Login</a></div>&nbsp;
    </nav>
  </div>
</header>
